/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Fonts --*/
@font-face{
	font-family: 'Bangers';
	src:url(../fonts/Bangers.ttf) format('truetype');
}
@font-face{
	font-family: 'Oswald-Regular';
	src:url(../fonts/Oswald-Regular.ttf) format('truetype');
}
/*-- Fonts --*/

/*-- Index-Page-Styling --*/

body {
    background: url('../images/bg.png');
}
h1 {
    text-align: center;
	color: #41F3BB;
	font-size: 50px;
	margin-top: 50px;
	font-family: Bangers;
}
.contact-form {
    margin: 0 auto;
    width: 30%;
    background: #fffff;
	border-radius: 5px;
}
.signin {
    margin-top: 50px;
    padding: 20px 20px 40px 20px;
	text-align: center;
	font-family: Oswald-Regular;
}

.signin input[type="text"] {
    width: 70%;
    margin-bottom: 20px;
    background: #444444 url('../images/1.png') no-repeat 405px 8px;
    font-size: 14px;
    padding: 10px 35px 10px 10px;
    border: none;
    border-radius: 4px;
	font-family: Oswald-Regular;
	color:#dddddd;
	outline: none;
}
.signin input[type="password"] {
    width: 70%;
    margin-bottom: 20px;
    background: #444444 url('../images/2.png') no-repeat 405px 8px;
    font-size: 14px;
    padding: 10px 35px 10px 10px;
    border: none;
    border-radius: 4px;
    font-family: Oswald-Regular;
    color: #dddddd;
    outline: none;
}

.signin input[type="submit"] {
    width: 100%;
    height: 40px;
	font-size: 17px;
	font-family: Oswald-Regular;
	margin-top: 20px;
	margin-bottom: 5px;
    background-color: #444444;
    border: none;
    border-radius: 5px;
	color:#dddddd;
	cursor: pointer;
	outline: none;
}
input[type="submit"]:hover {
	color: #fff;
    background-color:#9966FF;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
form p {
    color: #C6CACD;
    text-align: left;	
}
label {
    color: #C6CACD;
}
form p a {
    float: right;
    color: #74797C;
    text-decoration: none;
}
form p a:hover {
    color: #FFF;
    text-decoration: underline;	
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
form {
    text-align: left;
	color: #CFD1D2;
}
.footer {
    text-align: center;
    margin-top: 80px;
}
.footer p {
    font-family: Oswald-Regular;
    color: #74797C;
}
.footer a {
    font-family: Oswald-Regular;
    color: #74797C;
    text-decoration: none;
}
.footer a:hover {
    color: #4dc47d;
    text-decoration: underline;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
}

